#text-header img {
	width: 30px;
	float: left;
}

#text-header h3 {
	font-size: 30px;
	padding-left: 40px;
}

.header {
	padding-bottom: 15px;
}

.nav-pills > li+li {
	margin-left: 10px;
}

.source-actions {
	height: 45px;
	margin-bottom: 15px;
}

.move-source {
	max-width: 700px;
}

.footer {
	margin-bottom: 20px;
}

.admin-page-header {
	margin-bottom: 20px;
}